body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Form {
    background-color: #1db954;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 300px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.Group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="checkbox"]:invalid {
    border-color: red;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus {
    outline: none;
    border-color: #1db954;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #cccccc;
}

.Errores {
    color: red;
    font-size: 14px;
}
